<!DOCTYPE html>
<html>
<div class= "center">
<head>
	<link rel="stylesheet" href="/styles.css">
  <title>ROCK PAPER SCISSORS</title>

</head>
<body>
	<div class=casing>
	<h2 class=logo>ROCK PAPER SCISSORS</h1>

  <%= yield %>
<div>
</body>
</div>
</html>